body {
    background: black;
    display: flex;
    padding-top: 40%;
    flex-direction: column;
    align-items: center;
    align-self: center;
    color:aqua;
    font-size: 1.3em;
}

input {
    padding: 0.7em 0.6em;
    margin-top: 0.5em;
    border-radius: 4px;
    border: 3px solid aqua;
}

#check-btn{
    margin-top: 0.5em;
    padding: 0.7em 2em;
}